<p-confirmDialog></p-confirmDialog>
<div class="col-12">
    <div class="card">
        <div class="grid">
            <div class="col-12 md:col-12">
                <div class="card p-fluid">                
                    <h1>Eliminar Alumno</h1>         
                    <div class="field">
                        <label for="id">Id del Alumno</label>
                        <p-inputNumber [(ngModel)]="alumnoId" id="id" name="id" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="0"></p-inputNumber>
                    </div>
                    <button pButton type="button" label="Eliminar" (click)="confirm()"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<p-toast></p-toast>

<p-dialog header="Mensaje" [(visible)]="displayDialog" modal="true" [closable]="false">
  <ng-template pTemplate="content">
    <ul>
      <li *ngFor="let msg of dialogMessages">{{ msg }}</li>
    </ul>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton type="button" label="OK" (click)="hideDialog()" icon="pi pi-check"></button>
  </ng-template>
</p-dialog>
