<p-confirmDialog></p-confirmDialog>
<div class="col-12">
    <div class="card">
        <div class="grid">
            <div class="col-12 md:col-12">
                <div class="card p-fluid">                
                    <h1>{{ titulo }}</h1>
                    <p-table [value]="losAlumnos" [paginator]="true" [rows]="10" [loading]="loading" sortField="id" [sortOrder]="1" [rowsPerPageOptions]="[5, 10, 15]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                                <th>Nombre</th>
                                <th>Paterno</th>
                                <th>Materno</th>
                                <th>Email</th>
                                <th>Acciones</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-alumno>
                            <tr>
                                <td>{{ alumno.id }}</td>
                                <td>{{ alumno.nombre }}</td>
                                <td>{{ alumno.paterno }}</td>
                                <td>{{ alumno.materno }}</td>
                                <td>{{ alumno.email }}</td>
                                <td>
                                    <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editarAlumno(alumno.id)"></button>
                                    <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="confirmDelete(alumno.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6">No se encontraron alumnos.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

<p-toast></p-toast>
